/*styles of NavBar*/
.navBarMenu {
    z-index: 2;
    border-top: 3px solid var(--co-line-orange-opacity);
    background-color: var(--co-cyan-sky-navbar);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    padding: .5rem 0;
}
.navBarMenu div {
    cursor: pointer;
}
.navBarMenu img {
    border: 1px solid var(--co-cyan-white);
    padding: .28rem;
    border-radius: 5px;
}
.JSM {
    font-size: 1.4rem;
    position: absolute;
    top: .5rem;
    z-index: 2;
    left: .5rem;
    font-weight: bold;
    letter-spacing: .2rem;
}
/*hover*/
.navBarMenu img:hover {
    background-color: #DBE2EF;
    transition: .5s ease-in-out;
}
.menuHamburguer {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 5rem;
    left: 3.5%;
    background-color: var(--co-cyan-sky-navbar);
    border-radius: 5px;
    border: 1px solid var(--co-dm-blue);
    padding: .9rem;
    font-weight: bold;
}
.aOff {
    display: none;
}
.menuHamburguer {
    display: inline-flex;
}
.cellPhoneAndEmail {
  display: inline-block;
  padding: .5rem;
  position: absolute;
  bottom:5rem;
  z-index: 2;
  left: 40vw;
  background-color: var(--co-cyan-sky-navbar);
    border-radius: 5px;
    border: 1px solid var(--co-dm-blue);
}
.cellPhoneAndEmail button {
  border: none;
  box-shadow: 0 0 5px 1px var(--co-dm-blue);
  border-radius: 7px;
  margin: .2rem;
  padding: .1rem;
  cursor: pointer;
  background-color: var(--co-cyan-sky-navbar);
}
.cellPhoneAndEmail {
  display: none;
}
.cellPhoneAndEmail button:hover {
  background-color: #DBE2EF;
}
.cellPhoneAndEmail {
  display: inline;
}
/*animations*/
.slide-in-right {
	-webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  