/*styles of NavBar*/
.navBarMenu {
    z-index: 2;
    border-top: 3px solid var(--co-line-orange-opacity);
    background-color: var(--co-cyan-sky-navbar);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    padding: .5rem 0;
}
.navBarMenu div {
    cursor: pointer;
}
.navBarMenu img {
    border: 1px solid var(--co-cyan-white);
    padding: .28rem;
    border-radius: 5px;
}
.JSM {
    font-size: 1.4rem;
    position: absolute;
    top: .5rem;
    z-index: 7;
    left: .5rem;
    font-weight: bold;
    letter-spacing: .2rem;
}
/*hover*/
.navBarMenu img:hover {
    background-color: #DBE2EF;
    transition: .5s ease-in-out;
}
.menuHamburguer {
  cursor: pointer;
    display: none;
    position: absolute;
    z-index: 5;
    bottom: 5rem;
    left: 3.5%;
    background-color: var(--co-cyan-sky-navbar);
    border-radius: 5px;
    border: 1px solid var(--co-dm-blue);
    padding: .9rem;
    font-weight: bold;
}
.aOff {
    display: none;
}

.menuHamburguer {
    display: inline-flex;
}
.cellPhoneAndEmail {
  display: inline-block;
  padding: .5rem;
  position: absolute;
  bottom:5rem;
  z-index: 5;
  left: 40vw;
  background-color: var(--co-cyan-sky-navbar);
    border-radius: 5px;
    border: 1px solid var(--co-dm-blue);
}
.cellPhoneAndEmail button {
  border: none;
  box-shadow: 0 0 5px 1px var(--co-dm-blue);
  border-radius: 7px;
  margin: .2rem;
  padding: .1rem;
  cursor: pointer;
  background-color: var(--co-cyan-sky-navbar);
}
.cellPhoneAndEmail {
  display: none;
}
.cellPhoneAndEmail button:hover {
  background-color: #DBE2EF;
}
.cellPhoneAndEmail {
  display: inline;
}
.PDFdownloaded {
  position: absolute;
  z-index: 5;
  border: 1px solid var(--co-dm-blue);
  border-radius: 7px;
  padding: .4rem;
top: 75%;
  left: 2%;
}
.BtnLanguage {
  border: 1px solid var(--co-dm-blue);
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  bottom: 5.3rem;
  right: 1rem;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--co-cyan-white);
}
.BtnLanguage button {
  display: flex;
  justify-content: center;
  margin: .1rem 0;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid var(--co-dm-blue);
  cursor: pointer;
  padding: .13rem;
}
.BtnLanguage {
  display: none;
}
.BtnLanguage {
  display: inline;
}
.BtnLanguage button:hover {
  background-color: var(--co-cyan-sky-navbar);
}
/*animations*/
.slide-in-right {
	-webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-in-blurred-bottom {
    -webkit-animation: slide-in-blurred-bottom 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-bottom 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }
  @-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  